


<app-main></app-main>









<!-- <div class="container">
  
  <ul class="top_row">
      
      <li>Changelist / Build</li>
      <li>Owner</li>
      <li>Time Started</li>
      <li>State</li>
      <li>Metrics</li>
      <li>Build</li>
      <li>Unit Test</li>
      <li>Functional Test</li>
  </ul>
  <div class="panel-group" id="accordion">
      <div class="panel panel-default panel_1">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                <ul class="row">
                    <li>
                        <img src="../assets/img/1.svg" alt="img">
                        <span>Tenrox-R1_1235</span>
                    </li>
                    <li></li>
                    <li></li>
                    <li>Pending</li>
                    <li><div class="box box_grey"></div></li>
                    <li><div class="box box_grey"></div></li>
                    <li><div class="box box_grey"></div></li>
                    <li><div class="box box_grey"></div></li>
                </ul>
              </a>
          </h4>
        </div>
        <div id="collapse1" class="panel-collapse collapse">
          <div class="panel-body">
            <ul class="in_panel">
              <li class="inner_item item_green"><p>Metrics</p>
                <ul class="arrows">
                  <li class="top_left_arrow"><span class="up"><div>64</div><p>Test</p></span></li>
                  <li class="top_right_arrow"><span class="up"><div>53</div><p>Maintainability</p></span></li>
                  <li class="bottom_left_arrow"><span class="right"><div>64</div><p>Security</p></span></li>
                  <li class="bottom_right_arrow"><span class="right"><div>72</div><p>Workmanship</p></span></li>
                </ul>
              </li>
              <li class="inner_item item_green">
                <p>Build</p>
                <div class="svg_1">
                  <img src="../assets/img/6_pc_blue.svg" alt="1">
                  <p>Debug</p>
                </div>
                <div class="svg_2">
                  <img src="../assets/img/6_pc_blue.svg" alt="2">
                  <p>Release</p>
                </div>
                <p class="build_foot">10:46am - 4/17/2014</p>
              </li>
              <li class="inner_item item_green">
                <p>Unit Test</p>
                <div class="torta">
                  <p class="ut_1">142</p>
                  <p class="ut_2">10</p>
                </div>
                <div class="ut_perc">73%
                  <p>tests passed</p>
                </div>
                <div class="progress">
                  <span class="pr_span1"></span>
                  <span class="prog_descr">76%<p>code covered</p></span>
                </div>
              </li>
              <li class="inner_item item_green">
                <p>Functional Test</p>
                <div class="torta1">
                  <p class="ut_1">4321</p>
                  <p class="ut_2">2145</p>
                </div>
                <div class="ut_perc2">68%
                  <p>tests passed</p>
                </div>
                <div class="progress">
                  <span class="pr_span2"></span>
                  <span class="prog_descr">23%<p>code covered</p></span>
                </div>
                </li>
              <li class="inner_item_last ">
                <div class="result_col tab_1">
                  <ul>
                    <li>Result:</li>
                    <li>Complete</li>
                    <li><span>Deploy</span>to:</li>
                    <li>
                      <div class="form">
                        <select class="input" name="func">
                          <optgroup label="Deploy">
                            <option>Production</option>
                            <option>Production1</option>
                            <option>Production2</option>
                          </optgroup>
                        </select>
                      </div>
                    </li>
                  </ul>
                </div>
              </li>
            </ul>
            </div>
          </div>
        </div>
      <div class="panel panel-default panel_2">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                <ul class="row">
                    <li>
                        <img src="../assets/img/2_blue.svg" alt="img">
                        <span>432462</span>
                    </li>
                    <li><span>jtuck</span></li>
                    <li>4/18/2014<span>12:12pm</span></li>
                    <li>Running</li>
                    <li><div class="box box_blue"></div></li>
                    <li><div class="box box_grey"></div></li>
                    <li><div class="box box_grey"></div></li>
                    <li><div class="box box_grey"></div></li>
                </ul>
            </a>
          </h4>
        </div>
        <div id="collapse2" class="panel-collapse collapse">
          <div class="panel-body">
            <ul class="in_panel">
              <li class="inner_item item_green"><p>Metrics</p>
                <ul class="arrows">
                  <li class="top_left_arrow"><span class="up"><div>64</div><p>Test</p></span></li>
                  <li class="top_right_arrow"><span class="up"><div>53</div><p>Maintainability</p></span></li>
                  <li class="bottom_left_arrow"><span class="right"><div>64</div><p>Security</p></span></li>
                  <li class="bottom_right_arrow"><span class="right"><div>72</div><p>Workmanship</p></span></li>
                </ul>
              </li>
              <li class="inner_item item_green">
                <p>Build</p>
                <div class="svg_1">
                  <img src="../assets/mg/6_pc_blue.svg" alt="1">
                  <p>Debug</p>
                </div>
                <div class="svg_2">
                  <img src="../assets/img/6_pc_blue.svg" alt="2">
                  <p>Release</p>
                </div>
                <p class="build_foot">10:46am - 4/17/2014</p>
              </li>
              <li class="inner_item item_green">
                <p>Unit Test</p>
                <div class="torta">
                  <p class="ut_1">142</p>
                  <p class="ut_2">10</p>
                </div>
                <div class="ut_perc">73%
                  <p>tests passed</p>
                </div>
                <div class="progress">
                  <span class="pr_span1"></span>
                  <span class="prog_descr">76%<p>code covered</p></span>
                </div>
              </li>
              <li class="inner_item item_green">
                <p>Functional Test</p>
                <div class="torta1">
                  <p class="ut_1">4321</p>
                  <p class="ut_2">2145</p>
                </div>
                <div class="ut_perc2">68%
                  <p>tests passed</p>
                </div>
                <div class="progress">
                  <span class="pr_span2"></span>
                  <span class="prog_descr">23%<p>code covered</p></span>
                </div>
                </li>
              <li class="inner_item_last">
                <div class="result_col tab_2">
                  <ul>
                    <li>Result:</li>
                    <li>Change Accepted<p>Auto-Merged</p></li>
                    <li><span class="glyphicon glyphicon-search"></span>Merged Build</li>
                  </ul>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="panel panel-default panel_3">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                <ul class="row">
                    <li>
                        <img src="../assets/img/3_red.svg" alt="img">
                        <span>432461</span>
                    </li>
                    <li><span>samy</span></li>
                    <li>4/18/2014<span>10:53am</span></li>
                    <li>Rejected</li>
                    <li><div class="box box_red"></div></li>
                    <li><div class="box box_green"></div></li>
                    <li><div class="box box_green"></div></li>
                    <li><div class="box box_green"></div></li>
                </ul>
              </a>
          </h4>
        </div>
        <div id="collapse3" class="panel-collapse collapse">
          <div class="panel-body">
            <ul class="in_panel">
              <li class="inner_item item_red"><p class="red">Metrics</p>
                <ul class="arrows">
                  <li class="top_left_arrow"><span class="up"><div>64</div><p>Test</p></span></li>
                  <li class="top_right_arrow"><span class="down"><div>53</div><p>Maintainability</p></span></li>
                  <li class="bottom_left_arrow"><span class="right"><div>64</div><p>Security</p></span></li>
                  <li class="bottom_right_arrow"><span class="right"><div>72</div><p>Workmanship</p></span></li>
                </ul>
              </li>
              <li class="inner_item item_green">
                <p>Build</p>
                <div class="svg_1">
                  <img src="../assets/img/6_pc_blue.svg" alt="1">
                  <p>Debug</p>
                </div>
                <div class="svg_2">
                  <img src="../assets/img/6_pc_blue.svg" alt="2">
                  <p>Release</p>
                </div>
                <p class="build_foot">10:46am - 4/17/2014</p>
              </li>
              <li class="inner_item item_green">
                <p>Unit Test</p>
                <div class="torta">
                  <p class="ut_1">142</p>
                  <p class="ut_2">10</p>
                </div>
                <div class="ut_perc">73%
                  <p>tests passed</p>
                </div>
                <div class="progress">
                  <span class="pr_span1"></span>
                  <span class="prog_descr">76%<p>code covered</p></span>
                </div>
              </li>
              <li class="inner_item item_green">
                <p>Functional Test</p>
                <div class="torta1">
                  <p class="ut_1">4321</p>
                  <p class="ut_2">2145</p>
                </div>
                <div class="ut_perc2">68%
                  <p>tests passed</p>
                </div>
                <div class="progress">
                  <span class="pr_span2"></span>
                  <span class="prog_descr">23%<p>code covered</p></span>
                </div>
                </li>
              <li class="inner_item_last">
                <div class="result_col tab_3">
                  <ul>
                    <li>Result:</li>
                    <li>Change Rejected<p>Metrics Reduction</p></li>
                    <li>Find Issues</li>
                    <li>
                    </li>
                  </ul>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="panel panel-default panel_4">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">
                <ul class="row">
                    <li>
                        <img src="../assets/img/5_pc_green.svg" alt="img">
                        <span>Tenrox-R1_1234</span>
                    </li>
                    <li></li>
                    <li>4/17/2014<span>9:42am</span></li>
                    <li>Complete</li>
                    <li><div class="box box_green"></div></li>
                    <li><div class="box box_green"></div></li>
                    <li><div class="box box_green"></div></li>
                    <li><div class="box box_green"></div></li>
                </ul>
              </a>
          </h4>
        </div>
        <div id="collapse4" class="panel-collapse collapse">
          <div class="panel-body">
            <ul class="in_panel">
              <li class="inner_item item_green"><p>Metrics</p>
                <ul class="arrows">
                  <li class="top_left_arrow"><span class="up"><div>64</div><p>Test</p></span></li>
                  <li class="top_right_arrow"><span class="up"><div>53</div><p>Maintainability</p></span></li>
                  <li class="bottom_left_arrow"><span class="right"><div>64</div><p>Security</p></span></li>
                  <li class="bottom_right_arrow"><span class="right"><div>72</div><p>Workmanship</p></span></li>
                </ul>
              </li>
              <li class="inner_item item_green">
                <p>Build</p>
                <div class="svg_1">
                  <img src="../assets/img/6_pc_blue.svg" alt="1">
                  <p>Debug</p>
                </div>
                <div class="svg_2">
                  <img src="../assets/img/6_pc_blue.svg" alt="2">
                  <p>Release</p>
                </div>
                <p class="build_foot">10:46am - 4/17/2014</p>
              </li>
              <li class="inner_item item_green">
                <p>Unit Test</p>
                <div class="torta">
                  <p class="ut_1">142</p>
                  <p class="ut_2">10</p>
                </div>
                <div class="ut_perc">73%
                  <p>tests passed</p>
                </div>
                <div class="progress">
                  <span class="pr_span1"></span>
                  <span class="prog_descr">76%<p>code covered</p></span>
                </div>
              </li>
              <li class="inner_item item_green">
                <p>Functional Test</p>
                <div class="torta1">
                  <p class="ut_1">4321</p>
                  <p class="ut_2">2145</p>
                </div>
                <div class="ut_perc2">68%
                  <p>tests passed</p>
                </div>
                <div class="progress">
                  <span class="pr_span2"></span>
                  <span class="prog_descr">23%<p>code covered</p></span>
                </div>
                </li>
              <li class="inner_item_last ">
                <div class="result_col tab_4">
                  <ul>
                    <li>Result:</li>
                    <li>Complete</li>
                    <li><span>Deploy</span>to:</li>
                    <li>
                      <div class="form">
                        <select class="input" name="func">
                          <optgroup label="Deploy">
                            <option>Production</option>
                            <option>Production1</option>
                            <option>Production2</option>
                          </optgroup>
                        </select>
                      </div>
                    </li>
                  </ul>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="panel panel-default panel_5">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse5">
                <ul class="row">
                    <li>
                        <img src="../assets/img/3_red.svg" alt="img">
                        <span>432460</span>
                    </li>
                    <li><span>samy</span></li>
                    <li>4/17/2014<span>7:51am</span></li>
                    <li>Rejected</li>
                    <li><div class="box box_red"></div></li>
                    <li><div class="box box_grey"></div></li>
                    <li><div class="box box_grey"></div></li>
                    <li><div class="box box_grey"></div></li>
                </ul>
              </a>
          </h4>
        </div>
        <div id="collapse5" class="panel-collapse collapse">
          <div class="panel-body">
            <ul class="in_panel">
              <li class="inner_item item_red"><p class="red">Metrics</p>
                <ul class="arrows">
                  <li class="top_left_arrow"><span class="up"><div>64</div><p>Test</p></span></li>
                  <li class="top_right_arrow"><span class="down"><div>53</div><p>Maintainability</p></span></li>
                  <li class="bottom_left_arrow"><span class="right"><div>64</div><p>Security</p></span></li>
                  <li class="bottom_right_arrow"><span class="right"><div>72</div><p>Workmanship</p></span></li>
                </ul>
              </li>
              <li class="inner_item item_green">
                <p>Build</p>
                <div class="svg_1">
                  <img src="../assets/img/6_pc_blue.svg" alt="1">
                  <p>Debug</p>
                </div>
                <div class="svg_2">
                  <img src="../assets/img/6_pc_blue.svg" alt="2">
                  <p>Release</p>
                </div>
                <p class="build_foot">10:46am - 4/17/2014</p>
              </li>
              <li class="inner_item item_green">
                <p>Unit Test</p>
                <div class="torta">
                  <p class="ut_1">142</p>
                  <p class="ut_2">10</p>
                </div>
                <div class="ut_perc">73%
                  <p>tests passed</p>
                </div>
                <div class="progress">
                  <span class="pr_span1"></span>
                  <span class="prog_descr">76%<p>code covered</p></span>
                </div>
              </li>
              <li class="inner_item item_green">
                <p>Functional Test</p>
                <div class="torta1">
                  <p class="ut_1">4321</p>
                  <p class="ut_2">2145</p>
                </div>
                <div class="ut_perc2">68%
                  <p>tests passed</p>
                </div>
                <div class="progress">
                  <span class="pr_span2"></span>
                  <span class="prog_descr">23%<p>code covered</p></span>
                </div>
                </li>
              <li class="inner_item_last">
                <div class="result_col tab_5">
                  <ul>
                    <li>Result:</li>
                    <li>Change Rejected<p>Metrics Reduction</p></li>
                    <li>Find Issues</li>
                    <li>
                    </li>
                  </ul>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="panel panel-default panel_6">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse6">
                <ul class="row">
                    <li>
                        <img src="../assets/img/4_green.svg" alt="img">
                        <span>432459</span>
                    </li>
                    <li><span>samy</span></li>
                    <li>4/16/2014<span>6:43am</span></li>
                    <li>Accepted</li>
                    <li><div class="box box_green"></div></li>
                    <li><div class="box box_green"></div></li>
                    <li><div class="box box_green"></div></li>
                    <li><div class="box box_green"></div></li>
                </ul>
              </a>
          </h4>
        </div>
        <div id="collapse6" class="panel-collapse collapse">
          <div class="panel-body">
            <ul class="in_panel">
              <li class="inner_item item_green"><p>Metrics</p>
                <ul class="arrows">
                  <li class="top_left_arrow"><span class="up"><div>64</div><p>Test</p></span></li>
                  <li class="top_right_arrow"><span class="up"><div>53</div><p>Maintainability</p></span></li>
                  <li class="bottom_left_arrow"><span class="right"><div>64</div><p>Security</p></span></li>
                  <li class="bottom_right_arrow"><span class="right"><div>72</div><p>Workmanship</p></span></li>
                </ul>
              </li>
              <li class="inner_item item_green">
                <p>Build</p>
                <div class="svg_1">
                  <img src="../assets/img/6_pc_blue.svg" alt="1">
                  <p>Debug</p>
                </div>
                <div class="svg_2">
                  <img src="../assets/img/6_pc_blue.svg" alt="2">
                  <p>Release</p>
                </div>
                <p class="build_foot">10:46am - 4/17/2014</p>
              </li>
              <li class="inner_item item_green">
                <p>Unit Test</p>
                <div class="torta">
                  <p class="ut_1">142</p>
                  <p class="ut_2">10</p>
                </div>
                <div class="ut_perc">73%
                  <p>tests passed</p>
                </div>
                <div class="progress">
                  <span class="pr_span1"></span>
                  <span class="prog_descr">76%<p>code covered</p></span>
                </div>
              </li>
              <li class="inner_item item_green">
                <p>Functional Test</p>
                <div class="torta1">
                  <p class="ut_1">4321</p>
                  <p class="ut_2">2145</p>
                </div>
                <div class="ut_perc2">68%
                  <p>tests passed</p>
                </div>
                <div class="progress">
                  <span class="pr_span2"></span>
                  <span class="prog_descr">23%<p>code covered</p></span>
                </div>
                </li>
              <li class="inner_item_last">
                <div class="result_col tab_6">
                  <ul>
                    <li>Result:</li>
                    <li>Change Accepted<p>Auto-Merged</p></li>
                    <li><span class="glyphicon glyphicon-search"></span>Merged Build</li>
                  </ul>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
</div> -->