<accordion-group>
  <accordion-heading>
      <ul>
          <li>
              <img src="../assets/img/1.svg" alt="img">
              <span>Tenrox-R1_1235</span>
          </li>
          <li></li>
          <li></li>
          <li>Pending</li>
          <li><div class="box box_grey"></div></li>
          <li><div class="box box_grey"></div></li>
          <li><div class="box box_grey"></div></li>
          <li><div class="box box_grey"></div></li>
      </ul>
  </accordion-heading>
  Its all about me.
</accordion-group>